:root {
	--primary-dark: #450920;
	--secondary-dark: #a53860;
	--primary-light: #da627d;
	--white: #faf9f9;
	--black: #333333;
	--secondary-light: #ffa5ab;
	--header-font: "Lora", serif;
	--body-font: "Roboto", sans-serif;
}

.toolbar {
	width: 100%;
	top: 0;
	left: 0;
}

.toolbar_nav {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1rem;
	font-family: var(--body-font) !important;
	border: none !important;
	color: var(--secondary-dark);
}

.toolbar_logo a {
	text-decoration: none;
	font-size: 2rem !important;
}

.spacer {
	flex: 1;
}

.toolbar_item ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.toolbar_item li {
	padding: 0.5rem;

}

.toolbar_item a {
	color: var(--secondary-dark) !important;
	text-decoration: none;
	font-size: 18px;
	padding: 20px;
}

.linenav:hover {
	border-bottom: var(--secondary-dark) 2px solid !important;
}

.linenav {
	margin-right: 1rem;
}

.contactitem:hover {
	background: var(--secondary-dark) !important;

}

.contactitem:hover a {

	color: var(--white) !important;
}

.contactitem {
	border: var(--secondary-dark) 1px solid !important;
	/* background: var(--white);
	color: var(--primary-dark); */
}


@media (max-width: 767px) {
	.toolbar_item {
		display: none;
	}

	.toolbar_logo {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		padding: 2em;
	}
}

@media (min-width: 767px) {
	.toolbar_toggle-btn {
		display: none;
	}

	.toolbar_logo {
		margin-left: 0;
	}
}

@media (max-width: 768px) {
	.toolbar_item a {
		padding: 9px
	}
}