:root {
	--primary-dark: #450920;
	--secondary-dark: #a53860;
	--primary-light: #da627d;
	--white: #faf9f9;
	--black: #333333;
	--secondary-light: #ffa5ab;
	--header-font: "Lora", serif;
	--body-font: "Roboto", sans-serif;
}

.main {
	max-width: 1200px;
	margin: 0 auto;
}

.card_image>img {
	height: 20vh;
	max-width: 100%;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.cards_item {
	display: flex;
	padding: 1rem;
	padding-right: 0;
}

@media (min-width: 40rem) {
	.cards_item {
		width: 50%;
		display: block;
	}
}

@media (min-width: 56rem) {
	.cards_item {
		width: 33.3333%;
	}
}

.card {
	background-color: var(--white);
	border-radius: 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}

.card_content {
	padding: 0.5rem;
	margin-top: 1em;
}

.card_title {
	color: var(--black);
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	margin: 0px;
	margin-left: 0.5em;
}

.card_text {
	color: var(--black);
	text-align: center;
	line-height: 1.5;
	margin-bottom: 1.25rem;
	font-weight: 400;
}

.made_by {
	font-weight: 400;
	margin-top: 35px;
	text-align: center;
}